*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	height: 100dvh;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
